$default_white: white;
$default_dark: black;
$default_system_color:#F1F4F5;
$default_input:#BBBBBB;

$success: #28a745;
$success_dark: #1f8838;

$info: #17a2b8;
$info_dark: #138b9e;

$warning: #eab000;
$warning_dark: #ce9c09;

$awesome: #685dc3;
$awesome_dark: #4c3fb1;
